@import "min280.css";
@import "min768.css";
@import "min1024.css";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* PAGES */

#login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4e0930;
}

#home,
#grades,
#library,
#schedule,
#settings,
#tasks,
#book-details {
  height: 100vh;
  background-color: #4e0930;
  overflow-x: hidden;
}

h1,
h3,
h4 {
  color: #eba904;
}

.active-news {
  border: 2px solid #eba904;
  border-radius: 10px;
}

.task-card-completed {
  background-color: #a1a1a1;
}

.task-card-completed h1 {
  color: black;
}

.task-card-completed button {
  background-color: #8f8f8f;
  color: black;
}

a {
  text-decoration: none;
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: white;
  background-color: #eba904;
  backdrop-filter: blur(5px);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #4e0930;
  font-weight: 700;
  padding: 20px;
}

.modal button {
  background-color: #870f54;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  width: 20vw;
}

.modal button:hover {
  background-color: #4e0930;
}

/* BOOK DETAILS NONE-LEFT */

.disabled-btn, .disabled-btn:hover{
  background-color: #8f8f8f;
}

