@import "min280.css";
@import "min768.css";
@import "min1024.css";

:root{
  --purple-light: #870f54;
  --purple-dark: #4e0930;
  
  --gold-light: #eba904;
  --gold-dark: #c48d03;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.App{
  height: 100vh;
}

/* PAGES */

#login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-dark);
}

#home,
#grades,
#library,
#schedule,
#settings,
#tasks,
#book-details,
#news-details,
#student-grades-card {
  height: 100vh;
  background-color: var(--purple-dark);
  overflow-x: hidden;
}

h1,
h3,
h4 {
  color: var(--gold-light);
}

.active-news {
  border: 2px solid var(--gold-light);
  border-radius: 10px;
}

.task-card-completed {
  background-color: #a1a1a1;
}

.task-card-completed h1 {
  color: black;
}

.task-card-completed button {
  background-color: #8f8f8f;
  color: black;
}

a {
  text-decoration: none;
}

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: white;
  background-color: var(--gold-light);
  backdrop-filter: blur(5px);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: var(--purple-dark);
  font-weight: 700;
  padding: 20px;
}

.modal button {
  background-color: #870f54;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  width: 20vw;
}

.modal button:hover {
  background-color: var(--purple-dark);
}

/* BOOK DETAILS NONE-LEFT */

.disabled-btn, .disabled-btn:hover{
  background-color: #8f8f8f;
}

/* GRADES SEMESTERS */

.active-semester{
  width: 100%;
  border: 2px solid var(--gold-light);
  border-radius: 10px;
}

/* NEWS CARD */

.news-card a{
  color: black;
}
