@media screen and (min-width: 1024px) {
  #login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-dark);
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    height: 45vh;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form input {
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 999px;
    background-color: var(--purple-light);
    border: 2px solid var(--purple-light);
    margin: 10px;
    color: white;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
  }

  form input:focus {
    outline: none;
    border: 2px solid var(--gold-light);
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  button {
    background-color: var(--gold-light);
    color: var(--purple-light);
    border: none;
    outline: none;
    height: 3rem;
    width: 100%;
    border-radius: 999px;
    margin: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }

  button:hover {
    background-color: var(--gold-dark);
  }

  .login-error {
    color: var(--gold-light);
  }

  /* NAVBAR  */

  nav {
    background-color: var(--purple-dark);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 99;
  }

  .menu-list {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 15px 0;
    right: 0;
    left: 0;
    top: 20px;
    transition: all 0.5s ease-in-out;
    width: 70%;
    margin: 0 auto;
    height: 50px;
  }

  .menu-list li img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg)
      brightness(112%) contrast(117%);
    width: 6vh;
    transition: all 0.2s ease-in-out;
  }

  .menu-list li img:hover {
    filter: invert(72%) sepia(52%) saturate(3458%) hue-rotate(5deg)
      brightness(100%) contrast(97%);
  }

  .menu-list.close {
    left: -100%;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a {
    text-decoration: none;
    font-weight: 700;
    padding: 5px 10px;
    margin-left: 20px;
    color: var(--gold-light);
  }

  .menu-list li a.active img {
    filter: invert(72%) sepia(52%) saturate(3458%) hue-rotate(5deg)
      brightness(100%) contrast(97%);
  }

  /* BURGER-MENU */

  .menu-icon {
    display: none;
    align-self: center;
    color: var(--gold-light);
  }

  .fas {
    cursor: pointer;
  }

  .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }

  .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .logo-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .logo-container-nav img {
    height: 9vh;
    margin-right: 20px;
  }

  /* NEWS */

  .container {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
  }

  .news-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--purple-light);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }

  .news-type-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .news-general,
  .news-study {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  }

  .news-card-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* NEWS DETAILS */

  .news-details-container {
    background-color: var(--purple-light);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }

  .news-details-text {
    line-height: 1.5;
  }

  /* ADD NEW NEWS MODAL */

  .add-new-news-modal-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add-new-news-modal-title input {
    color: white;
    background-color: var(--purple-light);
    border: 2px solid var(--purple-light);
    border-radius: 10px;
  }

  .add-new-news-modal-title input:focus {
    outline: none;
    border: 2px solid var(--purple-dark);
  }

  .add-new-news-modal-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add-new-news-modal-input textarea,
  select,
  option {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--purple-light);
    border: 2px solid var(--purple-light);
    margin: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .add-new-news-modal-input textarea:focus,
  select:focus {
    outline: none;
    border: 2px solid var(--purple-dark);
  }

  .add-new-news-modal-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* DELETE NEWS MODAL */

  .delete-news-modal-title, .delete-news-modal-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .delete-news-modal-title h1{
    color: var(--purple-light);
  }

  /* EDIT NEWS MODAL */

  .edit-news-modal-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edit-news-modal-title input{
    color: white;
    background-color: var(--purple-light);
    border: 2px solid var(--purple-light);
    border-radius: 10px;
  }

  .edit-news-modal-title input:focus{
    outline: none;
    border: 2px solid var(--purple-dark);
  }

  .edit-news-modal-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edit-news-modal-input textarea, select, option{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--purple-light);
    border: 2px solid var(--purple-light);
    margin: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .edit-news-modal-input textarea:focus, select:focus{
    outline: none;
    border: 2px solid var(--purple-dark);
  }

  .edit-news-modal-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* HOMEPAGE PAGINATION */

  .pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    list-style: none;
  }

  .pagination-container a {
    padding: 10px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .pagination-container a:hover {
    color: var(--purple-dark);
    background-color: white;
  }

  .pagination-active a {
    color: var(--purple-dark);
    background-color: white;
  }

  /* TASK PAGE */

  .task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--purple-light);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }

  .task-card-btns {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
  }

  .task-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    /* EDIT TASK MODAL */

    .edit-task-modal{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;
      background: white;
      background-color: var(--gold-light);
      backdrop-filter: blur(5px);
      width: 90%;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      color: var(--purple-dark);
      font-weight: 700;
      padding: 20px;
    }
  
    .edit-task-modal-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .edit-task-modal-title input{
      color: white;
      background-color: var(--purple-light);
      border: 2px solid var(--purple-light);
      border-radius: 10px;
    }
  
    .edit-task-modal-title input:focus{
      outline: none;
      border: 2px solid var(--purple-dark);
    }
  
    .edit-task-modal-input{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .edit-task-modal-input textarea, select, option{
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: var(--purple-light);
      border: 2px solid var(--purple-light);
      margin: 10px;
      color: white;
      font-family: "Roboto", sans-serif;
    }
  
    .edit-task-modal-input textarea:focus, select:focus{
      outline: none;
      border: 2px solid var(--purple-dark);
    }
  
    .edit-task-modal-btns button{
      background-color: #870f54;
      padding: 12px;
      color: white;
      border: none;
      border-radius: 999px;
      cursor: pointer;
      width: 20vw;
    }

  /* LIBRARY PAGE */

  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .search-container input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 999px;
    background-color: var(--purple-light);
    border: 2px solid var(--purple-light);
    margin: 10px;
    color: white;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
  }

  .search-container input:focus {
    outline: none;
    border: 2px solid var(--gold-light);
  }

  .search-container button {
    width: 50%;
  }

  .book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
  }

  .book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-light);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 25vw;
    height: auto;
    transition: all 0.5s ease-in-out;
  }

  .book-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .book-author-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .book-card img {
    height: 30vh;
    border-radius: 10px;
  }

  /* BOOK DETAILS */

  .book-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .book-details-img {
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .book-details-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .book-details-pair {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .book-details-pair p {
    padding: 10px;
    color: white;
  }

  .book-details-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .book-details-btn button {
    width: 20%;
  }

  /* GRADES PAGE */

  .grades-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
  }

  /* CLASS CARD */

  .class-card {
    width: 25vw;
    background-color: var(--purple-light);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
  }

  .class-card-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .class-card-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--gold-light);
    font-weight: 700;
  }

  .class-card-grades {
    background-color: var(--purple-dark);
    border-radius: 10px;
    padding: 10px;
    color: var(--gold-light);
    font-weight: 600;
  }

  .semester-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .semester {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    color: var(--gold-light);
    margin: 10px;
  }

  /* SETTINGS PAGE */

  .student-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }

  .student-info-pair {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .student-info-pair p {
    color: white;
    font-weight: 700;
    align-self: center;
    margin-left: 10px;
  }
}
