@media screen and (min-width: 1024px) {
  #login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e0930;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    height: 45vh;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form input {
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 999px;
    background-color: #870f54;
    border: 2px solid #870f54;
    margin: 10px;
    color: white;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
  }

  form input:focus {
    outline: none;
    border: 2px solid #eba904;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  button {
    background-color: #eba904;
    color: #870f54;
    border: none;
    outline: none;
    height: 3rem;
    width: 100%;
    border-radius: 999px;
    margin: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }

  button:hover {
    background-color: #c48d03;
  }

  .login-error {
    color: #eba904;
  }

  /* NAVBAR  */

  nav {
    background-color: #4e0930;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 99;
  }

  .menu-list {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 15px 0;
    right: 0;
    left: 0;
    top: 20px;
    transition: all 0.5s ease-in-out;
    width: 70%;
    margin: 0 auto;
    height: 50px;
  }

  .menu-list li img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg)
      brightness(112%) contrast(117%);
    width: 6vh;
    transition: all 0.2s ease-in-out;
  }

  .menu-list li img:hover {
    filter: invert(72%) sepia(52%) saturate(3458%) hue-rotate(5deg)
      brightness(100%) contrast(97%);
  }

  .menu-list.close {
    left: -100%;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a {
    text-decoration: none;
    font-weight: 700;
    padding: 5px 10px;
    margin-left: 20px;
    color: #eba904;
  }

  .menu-list li a.active img {
    filter: invert(72%) sepia(52%) saturate(3458%) hue-rotate(5deg)
      brightness(100%) contrast(97%);
  }

  /* BURGER-MENU */

  .menu-icon {
    display: none;
    align-self: center;
    color: #eba904;
  }

  .fas {
    cursor: pointer;
  }

  .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }

  .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  .logo-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .logo-container-nav img {
    height: 9vh;
    margin-right: 20px;
  }

  /* NEWS */

  .container {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
  }

  .news-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #870f54;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }

  .news-type-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .news-general,
  .news-study {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  }

  /* HOMEPAGE PAGINATION */

  .pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    list-style: none;
  }

  .pagination-container a {
    padding: 10px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .pagination-container a:hover {
    color: #4e0930;
    background-color: white;
  }

  .pagination-active a {
    color: #4e0930;
    background-color: white;
  }

     /* TASK PAGE */

     .task-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #870f54;
      margin: 10px 0;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
    }
  
    .task-card-btn {
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 10px auto;
    }

    /* LIBRARY PAGE */

  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .search-container input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 999px;
    background-color: #870f54;
    border: 2px solid #870f54;
    margin: 10px;
    color: white;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
  }

  .search-container input:focus {
    outline: none;
    border: 2px solid #eba904;
  }

  .search-container button {
    width: 50%;
  }

  .book-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
  }

  .book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #870f54;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 25vw;
    height: auto;
    transition: all 0.5s ease-in-out;
  }

  .book-title-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .book-author-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .book-card img {
    height: 30vh;
    border-radius: 10px;
  }

    /* BOOK DETAILS */

    .book-details-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .book-details-img{
      display: flex;
      justify-content: center;
      height: 50vh;
    }
  
    .book-details-txt{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .book-details-pair{
      display: flex;
      flex-direction: row;
      justify-content:left;
      align-items: center;
    }
  
    .book-details-pair p{
      padding: 10px;
      color: white;
    }

    .book-details-btn{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  
    .book-details-btn button{
      width: 20%;
    }

    /* GRADES PAGE */

  .grades-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
  }

  /* CLASS CARD */

  .class-card{
    width: 25vw;
    background-color: #870f54;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
  }

  .class-card-title{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .class-card-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #eba904;
    font-weight: 700;
  }

  .class-card-grades{
    background-color: #4e0930;
    border-radius: 10px;
    padding: 10px;
    color: #eba904;
    font-weight: 600;
  }

}
