@media screen and (min-width: 768px) {
    
    .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo-container img{
        height: 40vh;
    }
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    
    form input{
        height: 3rem;
        width: 100%;
        border: none;
        border-radius: 999px;
        background-color: #870f54;
        border: 2px solid #870f54;
        margin: 10px;
        color: white;
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
    }
    
    form input:focus{
        outline: none;
        border: 2px solid #eba904;
    }
    
    ::placeholder{
        color: rgba(255, 255, 255, 0.5)
    }
    
    button{
        background-color: #eba904;
        color: #870f54;
        border: none;
        outline: none;
        height: 3rem;
        width: 100%;
        border-radius: 999px;
        margin: 10px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    button:hover{
        background-color: #c48d03;
    }

    .login-error{
        color: #eba904;
    }


    /* NAVBAR  */

    nav{
        background-color: #4e0930;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 99;
    }

    .menu-list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-list li a{
        text-decoration: none;
        font-weight: 300;
        padding: 5px 10px;
        margin-left: 20px;
        color: #eba904;
    }

    .menu-icon{
        display: block;
    }

    .logo-container-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .logo-container-nav img{
        height: 9vh;
        margin-right: 20px;
    }
    
}